body {
  font-family: SB어그로M;
  margin: 0;
}

a{
  text-decoration-line: none;
}

@font-face {
  font-family: Dnf;
  src: url(fonts/DNFForgedBlade-Bold.ttf);
}
@font-face {
  font-family: Maple;
  src: url(fonts/Maplestory\ Bold.ttf);
}
@font-face {
  font-family: GrandifloraOne;
  src: url(fonts/GrandifloraOne-Regular.ttf);
}

@font-face {
  font-family: Inspiration;
  src: url(fonts/Inspiration-Regular.ttf);
}
@font-face {
  font-family: Jua;
  src: url(fonts/Jua-Regular.ttf);
}
@font-face {
  font-family: NanumBrushScript;
  src: url(fonts/NanumBrushScript-Regular.ttf);
}
@font-face {
  font-family: YeonSung;
  src: url(fonts/YeonSung-Regular.ttf);
}

@font-face {
  font-family: SDS_B;
  src: url(fonts/SDSamliphopangcheTTFBasic.ttf);
}

@font-face {
  font-family: SDS_O;
  src: url(fonts/SDSamliphopangcheTTFOutline.ttf);
}

@font-face {
  font-family: SB어그로B;
  src: url(fonts/SB어그로B.ttf);
}


@font-face {
  font-family: SB어그로L;
  src: url(fonts/SB어그로L.ttf);
}


@font-face {
  font-family: SB어그로M;
  src: url(fonts/SB어그로M.ttf);
}






